export(allele.freq)
export(AnnoRan)
export(AnnoSin)
export(calc_r2)
export(count.genotypes)
export(derivedCount)
export(dnuc)
export(expected.het)
export(fixed.poly)
export(get.field)
export(get.haplotypes)
export(Hetp)
export(maf)
export(Mbed)
export(pi.diversity)
export(plQC)
export(read.vcf)
export(RunHom)
export(TajimaD)
export(variance.d)
export(waterson.theta)
